*{
    margin: 0;
    padding: 0;

}
.box{
    background-color: rgb(74, 74, 115);
    height: 750px;
}
.hello{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 55vh ;
    
    
    border: 6px solid black;
    margin: 0;
    padding: 10px;
 
    

}